<div class="header">
    <div>
        <h1>
         <span class="loader-container">
             <span class="loader">Welcome</span>
         </span>
         <span class="loader-container">
             <span class="loader">to</span>
         </span>
         <span class="loader-container">
             <span class="loader">the</span>
         </span>
         <span class="loader-container">
             <span class="loader">Volkmann</span>
         </span>
         <span class="loader-container">
             <span class="loader">Diner</span>
         </span>
        </h1>
    </div>
</div>
