<div class="container push">
    <div class="menu">Breakfast menu</div>
    <div class='menu-items'>
        <a ui-sref="dinerHome.breakfast">Scrambled eggs</a>
    </div>
    <div class='menu-items'>
        <a ui-sref="dinerHome.breakfast">omelette</a>
    </div>
    <div class='menu-items'>
        <a ui-sref="dinerHome.breakfast">Pancakes</a>
    </div>
    <div class='menu-items'>
        <a ui-sref="dinerHome.breakfast">Fruit loops</a>
    </div>

    <div id="item" ui-view="breakfastDetails"></div>

</div>
